.nav {
  position: fixed;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 1.5rem;
  z-index: 2;
}

.navLogo,
.navCta {
  flex: 1;
  display: flex;
}

.navCta {
  justify-content: flex-end;
}

.navLinks {
  flex: 2;
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}

.nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: -0.0125em;
  line-height: 1;
  display: inline-block;
  height: max-content;
  color: var(--base-100);
  background-color: var(--base-300);
  border: 1px solid var(--base-200);
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.navLogo a {
  font-weight: 500;
  color: var(--base-400);
  background-color: var(--base-500);
  border: none;
}

@media (max-width: 1000px) {
  .navLinks {
    display: none;
  }
}
